<mz-navbar>
  <a href="#" class="brand-logo">Noohwicycling.com</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a href="#">HOME</a></mz-navbar-item>
    <mz-navbar-item><a href="#">CONTACTO</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="js">COMUNIDAD</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<mz-parallax [height]="500">
  <img src="/assets/uno.jpg">
</mz-parallax>

<div class="section white">
  <div class="row container">
    <h2 class="header">WEEKENDRIDES</h2>
    <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      cupiditate nulla voluptate similique molestiae veniam sed repellat, voluptatibus debitis eius ut tempore minima
      nisi quisquam minus, odit esse. Exercitationem, iusto.</p>
  </div>
</div>
<mz-parallax [height]="500">
  <img src="/assets/dos.jpg">
</mz-parallax>
<div class="section black">
  <div class="row container">
    <h2 class="header grey-text text-darken-3 lighten-3">Contacto</h2>
    <mz-input-container>
      <i mz-icon-mdi mz-input-prefix [icon]="'email'">
      </i>
      <input mz-input [label]="'Email'" [validate]="true" [dataError]="'Email is invalid'" [dataSuccess]="'Email is valid'" style="color: white"
        id="email-input" placeholder="Enter your email" length="150" type="email">
    </mz-input-container>
  </div>

</div>